<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
</head>

<body>
<div th:fragment="addProduct">
    <form role="form" class="form-horizontal">
        <div class="form-group text-right" th:each="x : ${#strings.arraySplit('title,category,manufacturer,description,price,quantity',',')}">
            <label class="col-sm-2 control-label" for="title" th:for="${x}" th:text="${#strings.capitalize(x)}"></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:id="${x}" th:name="${x}" th:placeholder="${#strings.capitalize(x)}" id="title" name="title" placeholder="Title">
            </div>
        </div>
        <button type="submit" class="btn btn-default">Отправить</button>
    </form>
</div>
<div th:fragment="listProduct">
    <div id="products" data-bind="foreach: products">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img data-bind="attr: { 'src': 'http://placehold.it/300x200?text='+title, 'alt': title }"/>
                <div class="caption">
                    <h3 data-bind="text: title">Ярлык эскиза</h3>
                    <p data-bind="text: shortDescription">...</p>
                    <p data-bind="text: 'Стоимость: '+price">...</p>
                    <p>
                        <a href="#/product/1" data-bind="attr: { 'href': '#/product/'+id }" class="btn btn-default" role="button">Подробнее</a>
                        <a data-bind="click: $parent.addProduct" class="btn btn-primary" role="button">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            Добавить в корзину
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="product">
    <div id="product" data-bind="with: selectedProduct()">
        <div class="thumbnail">
            <div class="caption">
                <h3 data-bind="text: title">Ярлык эскиза</h3>
                <img data-bind="attr: { 'src': 'http://placehold.it/300x200?text='+title, 'alt': title }"/>
                <p data-bind="text: fullDescription">...</p>
                <p data-bind="text: 'Стоимость: '+price">...</p>
                <p>
                    <a data-bind="click: $parent.addProduct" class="btn btn-primary" role="button">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Добавить в корзину
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<div th:fragment="shoppingCart">
    <h3>Корзина платежей</h3>
    <p>
        Корзина позволяет оплатить несколько услуг, вводя данные банковской карты один раз. Для оплаты добавленных платежей, отметьте их галочкой. После этого переходите к оплате, нажав на кнопку «Оплатить».
    </p>
    <div id="cart" data-bind="with: customer">
        <div data-bind="foreach: products">
            <div class="media">
                <div class="pull-left">
                    <img class="media-object" data-bind="attr: { 'src': 'http://placehold.it/64x64?text='+title, 'alt': title }">
                </div>
                <div class="media-body">
                    <h4 class="media-heading" data-bind="text: title">Заголовок медиа</h4>
                    <p data-bind="text: fullDescription">...</p>
                    <p data-bind="text: 'Стоимость: '+price"></p>
                </div>
                <div class="pull-right">
                    <button type="button" data-bind="click: $root.removeProduct" class="btn btn-primary">Удалить</button>
                </div>
            </div>
        </div>
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">
                     Итого: <span data-bind="text: totalPrice">0</span>
                </h4>
            </div>
            <div class="pull-right">
                <a href="#/orders/create" class="btn btn-primary">Сделать заказ</a>
            </div>
        </div>
    </div>
</div>
<div th:fragment="orders">
    <div id="orders">
        <h3>Мои заказы</h3>
        <div data-bind="foreach: orders">
            <div class="panel panel-default">
                <div class="panel-heading" data-bind="text: 'Заказ #'+id+' был создан в(о) +'+dateCreated">Panel heading without title</div>
                <div class="panel-body">
                    <h4>Содержимое заказа</h4>
                    <ul class="list-group" data-bind="foreach: products">
                        <li class="list-group-item" data-bind="text: title">
                            <span class="badge">1</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="payments">
    <div id="payments">
        <h3>Платежи</h3>
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Amount</th>
            </tr>
            <tr data-bind="foreach: payments">
                <td data-bind="text: id"></td>
                <td data-bind="text: amount"></td>
            </tr>
        </table>
    </div>
</div>
<div th:fragment="order">
    <div id="order">
        <h3>Мой заказ</h3>
        <div class="panel panel-default" data-bind="with: currentOrder">
            <div class="panel-heading" data-bind="text: 'Заказ #'+id+' был создан в(о) '+dateCreated">title</div>
            <div class="panel-body">
                <h4>Содержимое заказа</h4>
                <ul class="list-group" data-bind="foreach: products">
                    <li class="list-group-item" data-bind="text: title">
                        <span class="badge">1</span>
                    </li>
                </ul>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Детали платежа</h4>
                        <input class="form-control" type="text" value="4111 1111 1111 1111"/>
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="expDate">Дата</label>
                                <input type="text" class="form-control" id="expDate" name="expDate" placeholder="03/2020">
                            </div>
                            <div class="form-group">
                                <label for="cvvcvc">CVV/CVC</label>
                                <input type="password" class="form-control" id="cvvcvc" name="cvvcvc" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" data-bind="click: $root.createPayment" class="btn btn-primary">Оплатить</button>
            </div>
        </div>
    </div>
</div>
<div th:fragment="profile">
    <h3>profile</h3>
</div>
</body>
</html>